<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intern Assignment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div id="mainBoard" class="bg-dark text-secondary px-4 py-5 text-center" data-cities-url="{% url 'handler' %}">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Like Count: <span id="likeCount">{{ data.likeCount }}</span></h1>
        <h1 class="display-5 fw-bold text-white">Dislike Count: <span id="dislikeCount">{{ data.dislikeCount }}</span></h1>
        <br>
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" id="like" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Like!</button>
          <button type="button" id="dislike" class="btn btn-outline-light btn-lg px-4">Dislike</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#like").click(function () {
      var url = $("#mainBoard").attr("data-cities-url");

      $.ajax({
        url: url,
        data: {
          'like': 'likeC'
        },
        success: function (data) {
          $("#likeCount").text(data);
        }
      });

    });

    $("#dislike").click(function () {
      var url = $("#mainBoard").attr("data-cities-url");

      $.ajax({
        url: url,
        data: {
          'dislike': 'likeC'
        },
        success: function (data) {
          $("#dislikeCount").text(data);
        }
      });

    });
  </script>
</body>
</html>